@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    background: linear-gradient(#ffffff 50%, #f2f2f2);
}

.main_section {
    min-height: 100vh - 8rem;
}

/* ! Header Section Start */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    /* color: #13183F; */
}

.header_button {
    background-color: #13183F;
    color: #ffffff;
    width: 9.5rem;
    height: 3rem;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
}

.header_button:hover {
    background-color: #666CA3;
    cursor: pointer;
}

/* ! Header Section End */